<template>
    <div class="m-5">
        <form class="needs-validation" novalidate>
            <div class="col-12">
                <label for="title" class="form-label">Title</label>
                <input v-model="title" type="text" name="title" class="form-control" id="title" placeholder="title">
            </div>
            <div class="col-12">
                <label for="content" class="form-label">Content</label>
                <VueTrix inputId="content" inputName="content" v-model="content" class="news-content" placeholder="enter your content..."/>
            </div>


            <div class="mt-5 pt-2 border-top">
                <button type="button" class="btn btn-primary" @click="addNews">Save</button>
                <router-link to="/" class="btn btn-link ml-5">Go To Main</router-link>
            </div>
        </form>
    </div>
</template>

<script>

import VueTrix from "vue-trix";

export default {
    components: {
        VueTrix,
    },

    data() {
        return {
            title: '',
            content: '',
            id: '',
        };
    },

    created() {
        if (this.$route.params.link !== undefined) {
            this.fetch();
        }
    },

    methods: {
        fetch(page) {
            axios.get('/api/news/' + this.$route.params.link)
                .then(this.refresh);
        },

        refresh({data}) {
            this.title = data.title;
            this.content = data.content;
            this.id = data.id;

            window.scrollTo(0, 0);
        },

        addNews() {
            let link = '/api/news';
            let methodName = 'post';

            if (this.id !== '') {
                link = '/api/news/' + this.id;
                methodName = 'put';
            }
            axios[methodName](link, {
                title: this.title,
                content: this.content,
            })
                .then(response => {
                    this.id = response.data.id;

                    flash('Your news has been saved.');
                    this.$router.push('/' + response.data.link);
                }).catch(error => {
                flash(error.response.data, 'danger');
            });
        },
    }
}
</script>
