<template>
    <div>
        <div v-for="(news, index) in items" :key="news.id">
            <h3 class="border-bottom pb-2 m-3">
                <router-link :to="news.link" v-text="news.title"></router-link>
                <span v-text="news.clicks_count" class="badge bg-light text-dark rounded-pill align-text-top"></span>
            </h3>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            items: [],
        };
    },

    created() {
        this.fetch();
    },

    methods: {
        fetch(page) {
            axios.get('/api/news')
                .then(this.refresh);
        },

        refresh({data}) {
            this.items = data;

            window.scrollTo(0, 0);
        },

        url(news) {
            return '/news/' + news.link;
        },
    }
}
</script>
