<template>
    <div :id="'news-' + news.id" class="m-5">
        <h1 v-text="news.title" class="mb-5"></h1>
        <div v-html="news.content"  class=""></div>
        <div class="mt-5 pt-2 border-top">
            <button type="button" class="btn btn-danger float-right ml-2" @click="deleteNews">Delete</button>
            <router-link :to="'/edit/' + news.link" class="btn btn-primary float-right ml-2">Edit</router-link>

            <router-link to="/" class="btn btn-link">Go To Main</router-link>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            news: [],
        };
    },

    created() {
        this.fetch();
    },

    methods: {
        fetch(page) {
            axios.get('/api/news/' + this.$route.params.link)
                .then(this.refresh);
        },

        refresh({data}) {
            this.news = data;

            window.scrollTo(0, 0);
        },

        deleteNews() {
            axios.delete('/api/news/' + this.news.id)
                .then(response => {
                    flash('The news has been deleted.');
                    this.$router.push('/');
                }).catch(error => {
                flash(error.response.data, 'danger');
            });
        },
    }
}
</script>
